@import "variables";

html {
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* #region  Text */
h2 {
  color: $col_Heading;
}

#secondHeadingWhatWeDo {
  color: $col_SecondHeadingWhatWeDo;
}

#secondHeadingMaintainable {
  color: $col_SecondHeadingMaintainable;
}

#secondHeadingGetInTouch {
  color: $col_SecondHeadingGetInTouch;
}

.mainText {
  white-space: pre-line;
  color: $col_MainText;
  font-size: clamp(12px, calc(.6rem + .8vw), 1rem);
}

.title, .titleGetInTouch {
  margin-left: auto;
  background-color: $col_TextBg;
  color: $col_MainText;
  display: block;
  border: 0px;
  outline: none;
  padding-inline: 5px;
  padding-block: 5px;
  font-weight: bold;
  width: 115px;
  text-align: center;
}



/* #endregion */


//* Home
/* #region  Home */
.home {
  background: $col_Bg_Home;
  height: 100vh;
}

#homeNavigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;

    li,
    a {
      display: inline-block;
      height: fit-content;
    }

    a {
      text-decoration: none;
    }

  }

}

#nuoLogo {
  width: 150px;
}

#moreToCome {
  background-color: $col_TextBg;
  color: $col_MainText;
  display: block;
  border: 0px;
  outline: none;
  padding-inline: 10px;
  padding-block: 2px;
  font-weight: bold;
}

/* #endregion */

//*Styles for all subpages
/* #region Styles for all subpages  */
.pageImageCol {
  margin-left: 90px;
}

.pageImages {
  max-width: 220px;
}

/* #endregion */

//*WhatWeDo
/* #region WhatWeDo  */
#whatwedoContainer {
  background-color: $col_Bg_WhatWeDo;
  height: 100vh;
}

/* #endregion */

//*Maintainable
#maintainableContainer {
  background-color: $col_Bg_Maintainable;
  height: 100vh;
}

//*GetInTouch
/* #region GetInTouch  */
#getInTouchContainer {
  background-color: $col_Bg_GetInTouch;
  height: 100vh;
}

.employeePortrait {
  max-width: 130px;
  position: relative;

  cursor: pointer;
}

.employeeCaption{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  font-size: .8rem;
  font-weight: bold;
  text-align: center;
}

/* #endregion */

//*Media query

@media only screen and (max-width: 1199px) {

  /* #region  Home */
  #nuoLogo {
    margin-left: 120px;
  }

  /* #endregion */

  .title {
    margin-top: calc(.5em + 1.5vw);
  }

  .titleGetInTouch{
    margin-top: 25px;
  }


}

@media only screen and (max-width: 991px) {

  /* #region  Home */
  #nuoLogo {
    margin-left: calc(.8em + 12vw);

  }
  /* #endregion */

  .titleGetInTouch{
    margin-right: auto;
  }

  .title{
    margin-right: auto;
  }

}

@media only screen and (max-width: 767px) {

  /* #region  Home */
  #nuoLogo {
    margin-left: calc(.6vw + .1em)
  }

  #moreToCome {
    margin-top: 10px;
    width: 49%;
    margin-left: auto;
  }

  .homePage_ImageContainer {
    max-width: 95vw;
  }

  /* #endregion */

}



@media only screen and (min-width: 1200px) {

  /* #region  Home */
  #nuoLogo {
    margin-left: 166px;
  }

  /* #endregion */


  .title {
    margin-top: 60px;
  }

  .titleGetInTouch{
    margin-top: 50px;
  }

}

@media only screen and (min-width: 1400px) {

  /* #region  Home */
  #nuoLogo {
    margin-left: 210px;
  }

  /* #endregion */


  .title {
    margin-top: 110px;
  }

  .titleGetInTouch{
    margin-top: 70px;
  }

}