html {
  box-sizing: border-box;
}

*,
*::after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


//* Home
.home {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(177, 210, 231, 1) 100%);
  height: 100vh;
}

#homeNavigation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;

    li, a {
      display: inline-block;
      height: fit-content;
    }

    a{
      text-decoration: none;
    }

      img {
        max-width: 220px;
      }

  }

}

#nuoLogo {
  width: 150px;
}



#moreToCome {
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  display: block;
  border: 0px;
  outline: none;
  padding-inline: 10px;
  padding-block: 2px;
}




//*Media query

@media only screen and (max-width: 1199px) {

  #nuoLogo {
    margin-left: 120px;
  }

}

@media only screen and (max-width: 991px) {

  #nuoLogo {
    margin-left: calc(1.6em + 10.4vw);

  }

}

@media only screen and (min-width: 1200px) {

  #nuoLogo {
    margin-left: 166px;
  }

}

@media only screen and (min-width: 1400px) {

  #nuoLogo {
    margin-left: 210px;
  }

}





